# Ignore all by default
*

# Keep gitignore itself
!.gitignore

# Rust app
!Cargo.toml
!Cargo.lock
!src/
!src/**

# Bundled profiles
!profiles/
!profiles/**

# Docs
!README.md
!reverb_documentation.md
!sound_modification_guide.md

# Build output
target/
